# Enable mod_rewrite
RewriteEngine On

# Prevent access to .php files directly
RewriteCond %{THE_REQUEST} \.php[\s?] [NC]
RewriteRule ^ - [F]

# Rewrite URLs without extension to .php files if they exist
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]

# Prevent directory browsing
Options -Indexes
