# Enable mod_rewrite
RewriteEngine On

# Prevent access to .php files directly
RewriteCond %{THE_REQUEST} \.php[\s?] [NC]
RewriteRule ^ - [F]

# Rewrite URLs without extension to .php files if they exist
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]

# Prevent directory browsing
Options -Indexes


#prevent direct access to db-connection.php file
<Files db-connection.php>
    Order deny,allow
    Deny from all
</Files>